---
import Base from '../layouts/Base.astro';
---

<Base title="Page not found">
  <h1 class="page-title">Page not found</h1>
  <div class="lead">
    <p>🕵️‍♂️ It looks like the requested page doesn't exist.</p>
    <p><a href="/">Go to the homepage</a> or browse the posts by <a href="/tags/">tag</a>.</p>
  </div>
</Base>
